@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html , body , #root {
 height: 100%;
}

#root{
  display: flex;
  flex-direction: column;
}

.header{
  background-color: darkred;
  color: white;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0,0.2);

  &Link {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
  }

  ul{
    list-style-type: none;

    li{
      display: inline;
      font-size: 20px;
      padding: 5px;
    }
  }
}

.boton-menu {
  background-color: rgba(0, 0, 0, 0.526) ;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: inline;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
  height: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.boton-carrito{
  text-decoration: none;
}

.numerito {
  background-color: black;
  color: var(--clr-main);
  padding: .35rem .35rem;
  border-radius: .25rem;
}

main {
  flex-grow: 1;
  padding: 0.5rem;
}

footer{
  background-color: darkred;
  color: white;
  padding: 1rem 0.5rem;
  font-size: 0.75rem;

  a{
    color:white;
    font-size: 10px;
  }
}
